<!DOCTYPE html>
<html>
  <head>
    <title>NetshowMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'devise' %>
    <%= stylesheet_link_tag  'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
